# {{ ansible_managed }}

[global]
  auth cluster required = none
  auth service required = none
  auth client required = none
  auth supported = none
  fsid = {{ internal.ceph.fsid }}
  osd pool default pg num = 128
  osd pool default pgp num = 128
  osd pool default size = 2
  osd pool default min size = 1
  osd pool default crush rule = 0

  # Disable in-memory logs
  debug_lockdep = 0/0
  debug_context = 0/0
  debug_crush = 0/0
  debug_buffer = 0/0
  debug_timer = 0/0
  debug_filer = 0/0
  debug_objecter = 0/0
  debug_rados = 0/0
  debug_rbd = 0/0
  debug_journaler = 0/0
  debug_objectcatcher = 0/0
  debug_client = 0/0
  debug_osd = 0/0
  debug_optracker = 0/0
  debug_objclass = 0/0
  debug_filestore = 0/0
  debug_journal = 0/0
  debug_ms = 0/0
  debug_monc = 0/0
  debug_tp = 0/0
  debug_auth = 0/0
  debug_finisher = 0/0
  debug_heartbeatmap = 0/0
  debug_perfcounter = 0/0
  debug_asok = 0/0
  debug_throttle = 0/0
  debug_mon = 0/0
  debug_paxos = 0/0
  debug_rgw = 0/0


[mon]
  mon osd down out interval = 600
  mon osd min down reporters = 2
{% for host in groups['lxc-coordinators'] %}
  {% if hostvars[host]['ansible_hostname'] is defined %}
  [mon.{{ hostvars[host]['ansible_hostname'] }}]
    host = {{ hostvars[host]['ansible_hostname'] }}
    mon addr = {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}
  {% endif %}
{% endfor %}

[osd]
  osd mkfs type = xfs
  osd mkfs options xfs = -f -i size=2048
  osd mount options xfs = noatime
  osd journal size = 100
  osd mon heartbeat interval = 30

  # Performance tuning
  filestore merge threshold = 40
  filestore split multiple = 8
  osd op threads = 8
  filestore op threads = 8
  filestore max sync interval = 5
  osd max scrubs = 1

  # Recovery tuning
  osd recovery max active = 5
  osd max backfills = 2
  osd recovery op priority = 2
  osd objectstore = filestore
  osd crush update on start = "true"

[mds]
{% for host in groups['lxc-coordinators'] %}
  {% if hostvars[host]['ansible_hostname'] is defined %}
  [mds.{{ hostvars[host]['ansible_hostname'] }}]
    host = {{ hostvars[host]['ansible_hostname'] }}
  {% endif %}
{% endfor %}

